body {
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  font-size: 3.5rem;
  padding: 1rem;
  margin-bottom: -1rem;
}
label{
  margin-left: 0.5rem;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -0.5rem;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

a {
  font-size: 2rem;
  padding: 0 20px;
  color: hsl(205, 68%, 41%);
}

/* ---Media Queries--- */
@media (max-width: 900px) {
  .heading {
    font-size: 3rem;
  }

}
@media (max-width: 700px) {
  .heading {
    font-size: 2.5rem;
    
  }

}
@media (max-width: 500px) {
  .heading {
    
    font-size: 1.7rem;
    letter-spacing: 0px;
    word-spacing: -2px;
  }
  a {
    font-size: 1.5rem;
  }
}
